html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }



.landing-page-wrapper {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-wrapper {
  background-color: #fff;
  height: 90px;
  display: flex;
  align-items: center;
}

.banner {
  color: black;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  height: 50px;
  padding-left: 100px;
  padding-top: 30px;
}

.content-wrapper {
  max-width: 960px;
  height: 500px;
  margin-left: 100px;
  margin-top: 75px;
}

.nav-wrapper {
  background-color: #fff;
  float: left;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  height: 250px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: 1.3em;
}

.modal-wrapper {
    position: absolute;
  background-color: #fff;
  height: 200px;
  display: inline-block;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  padding: 40px;
  opacity: 0;
  margin-left: 150px;
}

.modal-wrapper.is-open {
  opacity: 1;
  pointer-events: auto;

  -webkit-animation-name: dropmodal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
}

@-webkit-keyframes dropmodal {
    0% {
        -webkit-transform: translateY(125px);
    }
    100% {
        -webkit-transform: translateY(1);
    }
}

li a {
  text-decoration: none;
  color: #E8E8E8;
}

li a:hover {
  color: black;
  transition: all 400ms ease-in-out;
}

.current-link {
  color: black;
}

.current-link:hover {
  color: #E8E8E8;
  transition: all 400ms ease-in-out;
}

.close-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    margin-left: 425px;
}
