html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }



.landing-page-wrapper {
  background: url(../img/bg2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-wrapper {
  background-color: white;
  height: 90px;
  display: flex;
  align-items: center;
}

.banner {
  color: black;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  height: 50px;
  padding-left: 100px;
  padding-top: 30px;
}

.nav-wrapper {
  background-color: white;
  color: black;
  display: inline-block;
  height: 250px;
  width: 200px;
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.4em;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: #E8E8E8;
}

li a:hover {
  color: black;
  transition: all 400ms ease-in-out;
}

.current-link {
  color: black;
}

.current-link:hover {
  color: #E8E8E8;
  transition: all 400ms ease-in-out;
}


@media (max-width: 387px) {
  .banner {
    font-size: 32px;
    padding-left: 20px;
  }
  .nav-wrapper {
    margin-left: 20px;
    margin-top: 40px;
  }
  .banner-wrapper {
    height: 75px;
  }
}

@media (max-height: 568px) { /* iphone 5 landscape */
  .banner-wrapper {
    height: 75px;
  }
  .banner {
    padding-left: 20px;
  }
  .nav-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
    height: 175px;
    width: 125px;
  }
}

@media (max-width: 414px) { /* iphone 6 plus portrait */
  .banner {
    padding-left: 20px;
  }
  .nav-wrapper {
    margin-left: 20px;
    margin-top: 20px;
  }
}
